# Build files
/build.mac/
/build.win/

# DS_Store files
*.DS_Store


########################################
######### Defaults for github cpp ######
########################################
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
